<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.disastermate.mapbox">

    <application
        android:name="com.disastermate.mapbox.other.Notifications"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.disastermate.mapbox.Activities.BushfireListActivity" android:launchMode="singleInstance"
            android:taskAffinity=""
            android:excludeFromRecents="true"></activity>
        <activity android:name="com.disastermate.mapbox.Activities.Historic"
            android:launchMode="singleInstance"/>
        <activity android:name="com.disastermate.mapbox.Activities.FloodActivity" android:launchMode="singleInstance"/>

        <activity
            android:name="com.disastermate.mapbox.Activities.Welcome"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/DisasterMate"
            android:theme="@style/FullscreenTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name="com.disastermate.mapbox.Activities.MainActivity" android:launchMode="singleInstance">

        </activity>
        <activity android:name="com.disastermate.mapbox.Activities.ActionActivity" android:launchMode="singleInstance"/>
        <activity android:name="com.disastermate.mapbox.Activities.CauseActivity" android:launchMode="singleInstance"/>
        <activity android:name="com.disastermate.mapbox.Activities.DetailsActivity" android:launchMode="singleInstance"/>



        <activity android:name="com.disastermate.mapbox.Activities.BaseDrawerActivity" android:launchMode="singleInstance"/>



    </application>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>