<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.d26.mapbox">

    <application
        android:name=".other.Notifications"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.BushfireListActivity" android:launchMode="singleInstance"></activity>
        <activity android:name=".Activities.Historic"
            android:launchMode="singleInstance"/>
        <activity android:name=".Activities.FloodActivity" android:launchMode="singleInstance"/>

        <activity
            android:name=".Welcome"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/DisasterMate"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity" android:launchMode="singleInstance"></activity>
        <activity android:name=".Activities.ActionActivity" android:launchMode="singleInstance"/>
        <activity android:name=".Activities.CauseActivity" android:launchMode="singleInstance"/>
        <activity android:name=".Activities.DetailsActivity" android:launchMode="singleInstance"/>



        <activity android:name=".Activities.BaseDrawerActivity" />



    </application>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>